.accordion {
  padding-bottom: 60px;
}

.accordion_item {
  margin: 4px 0;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  background: var(--accent);
  overflow: hidden;
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 0.2s allow-discrete, opacity 0.2s,
      block-size 0.2s;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
  &[open] .accordion_header {
    border-bottom: 1px solid var(--border);
  }
}

.accordion_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px 40px;
}

.date_info {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.weekday {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.date {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent-foreground);
}

.temperature {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: right;
}

.max_temp {
  color: var(--foreground);
}

.min_temp {
  color: var(--muted-foreground);
  width: 40px;
}

.weather_icon {
  justify-self: center;
  width: 100px;
  max-width: 100%;
  aspect-ratio: 88 / 75;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
  text-align: center;
}

.accordion_content {
  padding: 0;
  margin: 10px 40px;
  display: grid;
  grid-template-rows: repeat(4, 40px);
  gap: 1px;
  background: var(--background);
}

.detailed_forecast {
  background: var(--accent);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  list-style: none;
  padding: 0;
}

.period_label {
  font-weight: 500;
}

.period_conditions {
  font-size: 0.8rem;
  font-weight: 500;
  justify-self: stretch;
  text-align: center;
}

.period_weather_icon {
  width: 40px;
  height: auto;
  aspect-ratio: 88 / 75;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

.period_temperature {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}

@media (max-width: 600px) {
  .accordion_header {
    padding: 10px 20px;
  }

  .weather_icon {
    width: 50px;
  }

  .accordion_content {
    margin: 20px;
    grid-template-rows: repeat(4, 50px);
  }

  .date_info {
    width: 100px;
  }

  .weekday {
    font-size: 1rem;
  }

  .date {
    font-size: 0.8rem;
  }

  .temperature {
    font-size: 1.2rem;
  }

  .min_temp {
    width: 30px;
  }

  .period_conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;
  }

  .period_weather_icon {
    width: 35px;
  }

  .period_temperature,
  .period_label {
    font-size: 0.8rem;
  }
}
