.accordion {
  padding-bottom: 60px;
}

.accordion_item {
  margin: 4px 0;
  border-radius: 8px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  @media (prefers-reduced-motion: no-preference) {
    interpolate-size: allow-keywords;
  }

  &::details-content {
    opacity: 0;
    block-size: 0;
    overflow-y: clip;
    transition: content-visibility 0.2s allow-discrete, opacity 0.2s,
      block-size 0.2s;
  }

  &[open]::details-content {
    opacity: 1;
    block-size: auto;
  }
}

.accordion_header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 10px 40px;
}

.accordion_content {
  margin: 0;
  padding: 5px 40px 20px 40px;
  display: grid;
  grid-template-rows: repeat(4, 45px);
}

.space_item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  list-style: none;
  padding: 0;
}

.period_type {
  font-weight: 500;
}

.conditions {
  font-size: 0.8rem;
  font-weight: 500;
  justify-self: center;
}

.weather_icon {
  justify-self: center;
  width: 100px;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
  text-align: center;
}

.space_weather_icon {
  max-width: 100%;
  object-fit: contain;
  object-position: center;
  vertical-align: middle;
}

.date_info {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.weekday {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.date {
  font-size: 0.7rem;
  font-weight: 500;
}

.temperature {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: right;
}

.space_item_temperature {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  gap: 1rem;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
}

.max_temp {
  color: var(--foreground);
}

.min_temp {
  color: var(--foreground-muted);
  width: 40px;
}

@media (max-width: 600px) {
  .accordion_header {
    padding: 10px 20px;
  }
  .accordion_content {
    padding: 5px 20px 20px 20px;
  }
  .date_info {
    width: 100px;
  }
  .weekday {
    font-size: 0.8rem;
  }
  .date {
    font-size: 0.6rem;
  }
  .min_temp {
    width: 30px;
  }
}
