:root {
  --background: #c6dfd9;
  --background-transparent: rgba(198, 223, 217, 0.6);
  --foreground: #09090b;
  --foreground-muted: #82828e;
  --border: #b1cfc8;
  --accent: #e2e2e2e4;
  --accent-foreground: #27272a;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #06001c;
    --background-transparent: rgba(6, 0, 28, 0.6);
    --foreground: #ededed;
    --foreground-muted: #c6c6c6;
    --border: #27272a;
    --accent: #27272a;
    --accent-foreground: #fafafa;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url(./../assets/noise-light.png);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
