:root {
  --background: #c6dfd9;
  --muted: #d3e6e1;
  --background-transparent: rgba(211, 230, 225, 0.5);
  --background-gradient: linear-gradient(360deg, #c6dfd9 0%, #d3e6e1 100%);
  --foreground: #09090b;
  --muted-foreground: #5e5e66;
  --border: #b1cfc8;
  --accent: #d3e6e1;
  --accent-foreground: #27272a;
  --shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090902;
    --muted: #27272a;
    --background-transparent: rgba(9, 9, 2, 0.6);
    --background-gradient: linear-gradient(360deg, #06001c 0%, #0e0043 100%);
    --foreground: #ededed;
    --muted-foreground: #c6c6c6;
    --border: #27272a;
    --accent: #090902;
    --accent-foreground: #fafafa;
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-attachment: fixed;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
